<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/template :: head">
</head>
<body>
	<header th:replace="plantillas/template :: header"></header>

	<div class="container pt-4">
		<h3>Bienvenido a</h3>
		<h1>MANZANARES</h1>
		<h2>HOTEL</h2>
		<p>Reserva tu estancia hoy y disfruta de una experiencia de hotel
			redefinida con las tarifas más asequibles.</p>
		<button type="submit" class="btn btn-primary mt-3">Reserva ya</button>
		
		<div class="text-center pt-4">
            <p>Descubre la experiencia <i>Manzanares</i>.</p>
        </div>
	</div>
	

	<footer th:replace="plantillas/template :: footer"></footer>
</body>
</html>
