<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="form-group">
    <title>Crear Ofertas</title>
    <h2>En esta página puedes crear las ofertas de las habitaciones.</h2>

    <form method="post" th:action="@{/descuento/createDescuento}">
        <label for="nombre">Nombre</label>
        <input class="form-control" id="nombre" name="nombre" type="text"/>

        <label for="desc">Descripcion</label>
        <textarea id="desc" name="desc" rows="4" cols="50"></textarea>

        <label for="precio">Precio</label>
        <input class="form-control" id="precio" name="precio" type="number" min="0.00" max="1000.00" step="0.01" >

    </form>
    <button type="submit" class="btn btn-primary">Crear Oferta</button>
</div>


<script type="text/javascript">
    let datePickerId;
    datePickerId.max = new Date().toISOString().split("T")[0];
</script>
</body>
</html>