<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="plantillas/template :: head">
<body>
<header th:replace="~{plantillas/template :: header}"></header>
<div class="container pt-4">
    <title>Crear Ofertas</title>
    <h2>En esta página puedes crear las ofertas de las habitaciones.</h2>

    <form method="post" th:action="@{/descuento/createDescuento}" th:object="${descuento}">
        <label for="porcentaje">Porcentaje</label>
        <input class="form-control" id="porcentaje" name="porcentaje" type="number"
               min="0" max="100" step="1" th:field="*{porcentaje}"/>

        <label for="desc">Descripcion</label>
        <textarea id="desc" name="desc" rows="4" cols="50" th:field="*{descripcion}"></textarea>

    </form>
    <button type="submit" class="btn btn-primary">Crear Oferta</button>
</div>

</body>
</html>