<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/templateWebmaster :: head">
</head>
<body>

<meta charset="UTF-8">
<header th:replace="~{plantillas/templateWebmaster :: headerWebmaster}"></header>
<div class="container pt-4">
    <h1>Listado de Usuarios</h1>
    <h2>En esta página puedes acceder a todos los datos sobre los usuarios y sus roles.</h2>
</div>

<div class="container pt-4">
    <div class="row mt-3">
        <div class="row mt-3">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Número</th>
                        <th>Gama</th>
                        <th>Numero de camas</th>
                        <th>Precio</th>
                        <th>Disponibilidad</th>
                        <th>Mascotas</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="habitacion: ${habitaciones}">
                            <td th:text="${habitacion.num}"></td>
                            <td th:text="${habitacion.gama}"></td>
                            <td th:text="${habitacion.numcamas}"></td>
                            <td th:text="${habitacion.precio}"></td>
                            <td>
                                <span th:style=" 'color : green'" th:if="${habitacion.activa}">Habitacion activa</span>
                                <span th:style=" 'color : red'"  th:unless="${habitacion.activa}">Habitacion no activa</span>
                            </td>
                            <td>
                                <span th:style=" 'color : green'" th:if="${habitacion.mascotas}">Permitidas</span>
                                <span th:style=" 'color : red'"  th:unless="${habitacion.mascotas}">No permitidas</span>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-xs"
                                        th:onclick="'del(\'/room/deleteHabitacion/' + ${habitacion.id} + '\')'">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>





<script type="text/javascript">
    function del(urlBorrar) {
        if (confirm('¿Estás seguro/a de que quieres borrar la Habitacion?')) {
            fetch(urlBorrar, {
                method: 'DELETE'
            }).then((res) => location.reload());
        }
    }
</script>

</body>
</html>