<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantillas/template :: head"></head>

<body
	style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">

	<header th:replace="plantillas/template :: header">
		<h1 class="text-center">Contáctanos</h1>
	</header>

	<div class="container" style="flex: 1;">

		<div class="text-center pt-4">
			<h2>
				<strong>Estamos aquí por tí</strong>
			</h2>
			<p>
				En Manzanares Hotel, nos tomamos la atención al cliente muy
				delicadamente. Para cualquier duda,<br> queja, petición o
				reserva por favor contacte con nosotros y le responderemos lo antes
				posible.
			</p>
		</div>

		<div style="padding-bottom: 40px;">
			<table style="margin: 0 auto;">
				<tr>
					<td style="padding-right: 200px;">
						<p>
							Carrer Sant Pere, El Campello<br> 03460<br> Teléfono:
							+64 615 604 614<br> Email: manzanares_hotel@gmail.com
						</p>
					</td>

					<td>
						<form class="form-horizontal" onsubmit="return validarContacto()">
							<div class="form-group text-center">
								<h2>Contactar</h2>
								<div class="row justify-content-center">
									<div class="col-md-6">
										<label for="contactName">Nombre</label> <input type="text"
											class="form-control" id="contactName" required>
									</div>
									<div class="col-md-6">
										<label for="contactEmail">Email</label> <input type="email"
											class="form-control" id="contactEmail"
											aria-describedby="emailHelp" required>
									</div>

									<div class="col-md-6">
										<label for="regNIF">Mensaje</label> <input type="text"
											class="form-control" id="contactMessage" required>
									</div>
								</div>
								<button type="submit" class="btn btn-primary mt-3">Enviar</button>
							</div>
						</form>
					</td>

					<script>
    function validarContacto() {
        // Puedes personalizar la función de validación según tus necesidades.
        var contactName = document.getElementById("contactName").value;
        var contactEmail = document.getElementById("contactEmail").value;
        var contactMessage = document.getElementById("contactMessage").value;

        if (contactName === "" || contactEmail === "" || contactMessage === "") {
            alert("Por favor, complete todos los campos obligatorios.");
            return false;
        }

        // Puedes agregar más validaciones según tus necesidades.

        return true; // Envía el formulario si todas las validaciones son exitosas.
    }
</script>


				</tr>
			</table>
		</div>
	</div>

	<footer th:replace="plantillas/template :: footer"></footer>
</body>

</html>

