<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/template :: head">
</head>
<body>
	<header th:replace="plantillas/template :: header"></header>

	<div class="container">
		<div class="text-center pt-4">
			<h2>
				<strong>Servicios</strong>
			</h2>
			<p>
				Los servicios ofrecidos en un Hotel Manzanares son de la máxima
				calidad con los precios más competitivos del mercado.<br>
				Descubre nuestras diferentes ofertas para encontrar tu próximo plan
				perfecto.
			</p>
		</div>


		<div style="padding-bottom: 40px;">
			<table style="margin: 0 auto;">
				<tr th:each="servicio: ${servicios}">
					<td style="padding-right: 200px;">
						<table>
							<tr>
								<td><h3 th:text="${servicio.descripcion}"></h3></td>
							</tr>
							<tr>
								<td><p>Precio: </p></td>
								<td><p th:text="${servicio.precio}"></p></td>
							</tr>
							<tr>
								<td><p>Horario: </p></td>
								<td><p th:text="${servicio.horario}"></p></td>
							</tr>
						</table>
					</td>

					<td><img src="https://i.ibb.co/MCrCCFj/gimnasio.png" alt="gimnasio" border="0" width="250"></td>
				</tr>
			</table>
		</div>

		<div class="text-center pt-4">
			<h1>
				<strong>Otros servicios</strong>
			</h1>
		</div>

		<div style="display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap;">

			<div class="image-container text-center pb-4">
				<img src="https://i.ibb.co/C8wT3w7/piscina.png" alt="piscina" border="0" width="250">
				<h3>Piscina</h3>
			</div>

			<div class="image-container text-center pb-4">
				<img src="https://i.ibb.co/XFjXrfY/spa.png" alt="spa" border="0" width="250">
				<h3>Spa</h3>
			</div>

			<div class="image-container text-center pb-4">
				<img src="https://i.ibb.co/yVzV9CZ/restaurante.png" alt="restaurante" border="0" width="250">
				<h3>Restaurante</h3>
			</div>

			<div class="image-container text-center pb-4">
				<img src="https://i.ibb.co/YQKvXzp/lavanderia.png" alt="lavanderia" border="0" width="250">
				<h3>Lavandería</h3>
			</div>

		</div>

	</div>

	<footer th:replace="plantillas/template :: footer"></footer>
</body>
</html>

